.order_detail{
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--softGreenColor);
    margin-left: 250px;
}

.main {
    min-height: 100%;
    background-color: var(--greyColor);
    padding: 2%;
    border-radius: 8px;
}

.bill-container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-list {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.item-list th, .item-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.item-list th {
    background-color: #f2f2f2;
}

.total-section {
    margin-top: 20px;
    text-align: right;
}